/* You can add global styles to this file, and also import other style files */
body {
  .main-container {
    height: 500px;
    padding: 30px;
    margin: 100px;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: auto;
  }
}